<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid class="">
    <ion-row>
      <ion-col size="4" class="">
        <ion-avatar style="width: 100%; height: 100%;">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="" srcset="">
        </ion-avatar>
      </ion-col>
      <ion-col size="8" class="">
        <h5 class="ml-1"><strong>James Dean</strong></h5>
        <small class="ml-1">jamesdean&#64;gmail.com</small>
        <br>
        <small class="ml-1">+62 565996526</small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="divider"></div>

  <ion-grid>
    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label>My Ads</ion-label>
      </ion-list-header>
      <ion-item [button]="true" detail="false">
        <div class="unread-indicator-wrapper" slot="start">
          <div class="unread-indicator"></div>
        </div>
        <ion-label>
          <strong>Rick Astley</strong>
          <ion-text>Never Gonna Give You Up</ion-text><br />
          <ion-note color="medium" class="ion-text-wrap">
            Never gonna give you up Never gonna let you down Never gonna run...
          </ion-note>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <ion-note color="medium">06:11</ion-note>
          <ion-icon color="medium" name="chevron-forward"></ion-icon>
        </div>
      </ion-item>
      
    </ion-list>
  </ion-grid>
</ion-content>
