

<ion-content [fullscreen]="true">
  
  <!-- Logo -->
  <ion-grid class="header" align="center" >
    <ion-col size="12" >
      <ion-icon name="albums-outline" color="primary" class="logo" ></ion-icon>
      <h4><strong>Welcome at NesAdd</strong></h4>
      <small class="text-secondary">Log in to continue</small>
    </ion-col>
  </ion-grid>

  <!-- form -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" >
        <ion-list>
          <ion-item class="form-control">
            <ion-input label="Email Adress" type="email" labelPlacement="floating" placeholder="Enter email"></ion-input>
          </ion-item>     
          <ion-item class="form-control">
            <ion-input label="Password" type="password" labelPlacement="floating" placeholder="Enter password"></ion-input>            
          </ion-item> 
          <p class="text-center">
            <a href="">Forgot password?</a>
          </p>
        </ion-list>
  
        <ion-button class="btn" color="primary" expand="block">Log In</ion-button>
  
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- divided zone -->
  <ion-grid align="center">
    <ion-row class="">
      <ion-col size="4" class="">
        <p class="divided"></p>
      </ion-col>
      <ion-col size="4" class="">
        <span class="text-secondary">Or continue with</span>
      </ion-col>
      <ion-col size="4" class="">
        <p class="divided"></p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid align="center">
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


  <p class="text-center text-secondary">Don't have an account? <a href="/register">Create account</a></p>




</ion-content>
