

<ion-content [fullscreen]="true">
  
  <!-- Logo -->
  <ion-grid class="header" align="center" >
    <ion-col size="12" >
      <ion-icon name="albums-outline" color="primary" class="logo" ></ion-icon>
      <h4><strong>Let's Join NesAdd</strong></h4>
      <small class="text-secondary">Create a new account</small>
    </ion-col>
  </ion-grid>

  <!-- form -->
  <form #f="ngForm" (ngSubmit)="onsubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size="12" >
          <ion-list>
            <ion-item class="form-control">
              <ion-input label="Full Name" name="fullname" ngModel type="text" labelPlacement="floating" placeholder="Enter full name" required></ion-input>
            </ion-item>  
            <ion-item class="form-control">
              <ion-input label="Email Address" name="email" ngModel type="email" labelPlacement="floating" placeholder="Enter email" required></ion-input>
            </ion-item>     
            <ion-item class="form-control">
              <ion-input label="Password" name="password" ngModel type="password" labelPlacement="floating" placeholder="Enter password" required></ion-input>            
            </ion-item>           
          </ion-list>
    
          <ion-button class="btn" type="submit" color="primary" expand="block" *ngIf="!status.loading">Continue</ion-button>
          <ion-button class="btn" type="submit" color="primary" expand="block" *ngIf="status.loading" disabled>
            Loading &nbsp; <ion-spinner color=""></ion-spinner>
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- divided zone -->
  <ion-grid align="center">
    <ion-row class="">
      <ion-col size="4" class="">
        <p class="divided"></p>
      </ion-col>
      <ion-col size="4" class="">
        <span class="text-secondary">Or continue with</span>
      </ion-col>
      <ion-col size="4" class="">
        <p class="divided"></p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid align="center">
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


  <p class="text-center text-secondary">Already have an account? <a href="/login">Log In</a></p>




</ion-content>
