<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail {{ titleAds }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="ad">
 
  <ion-grid class="p-0 header-img">
    <img src="{{ad.img}}" class="img-fluid" alt="" srcset="">
  </ion-grid>


  <ion-grid class="card-text">
    <p>
      {{ad.description}}
    </p>
    <small color="secondary">Le {{ ad.created_at }}, &nbsp;<strong>{{ ad.owner }}</strong></small>
  </ion-grid>

  <ion-grid class="card-button" *ngIf="isOwner">
    <ion-button expand="block" color="warning"  (click)="setOpen(true)" (click)="edit()">
      Edit
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
    </ion-button>
    <ion-button expand="block" color="danger" (click)="deleteAd()">Delete</ion-button>
  </ion-grid>


  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <form >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)" type="button">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Update Ad</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true" >Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <ion-item class="p-3">
            <ion-input
              label="Enter the title"
              labelPlacement="stacked"
              type="text"
              placeholder="Your title"
              name="title"
              [(ngModel)]="data.title"
              required
            ></ion-input>
          </ion-item>
          <ion-item class="p-3">
            <ion-select label="Select Category" placeholder="Ex: Sale" name="category" [(ngModel)]="data.category">
              <ion-select-option *ngFor="let c of catgs" [value]="c.title" >{{ c.title }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="p-3">
            <ion-input
              label="Enter the URL Image"
              labelPlacement="stacked"
              type="text"
              placeholder="https://image.com/zonfpsfknpdn"
              name="img"
              [(ngModel)]="data.img"
              required
            ></ion-input>
          </ion-item>
          <ion-item class="p-3">
            <ion-textarea label="Stacked label" [autoGrow]="true" labelPlacement="stacked" placeholder="Enter text" name="description" [(ngModel)]="data.description"></ion-textarea>
          </ion-item>
      </ion-content>
    </ng-template>
  </form>

  </ion-modal>

</ion-content>
