<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>All Ads</ion-title>
    <ion-buttons slot="end" routerLink="/profil">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Category place -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-segment [scrollable]="true" color="transparent">
          <ion-segment-button class="category" value="home" id="catg" (click)="AnimationSwitch('catg')">
            <ion-button fill="outline" name="home">Categ One</ion-button>            
          </ion-segment-button>
          <ion-segment-button class="category" value="home2" id="catg2" (click)="AnimationSwitch('catg2')">
            <ion-button fill="outline" name="home2">Categ Two</ion-button>            
          </ion-segment-button>
          <ion-segment-button class="category" value="home2">
            <ion-button fill="outline" >Categ Two</ion-button>            
          </ion-segment-button>
          <ion-segment-button class="category" value="home2">
            <ion-button fill="outline" >Categ Two</ion-button>            
          </ion-segment-button>
          <ion-segment-button class="category" value="home2">
            <ion-button fill="outline" >Categ Two</ion-button>            
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- list articles -->

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/ad-details">
          <img alt="Silhouette of mountains" src="../../assets/imgs/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img alt="Silhouette of mountains" src="../../assets/imgs/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
